
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;0,900;1,100;1,600&display=swap');

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
* {
    font-family: "Poppins";
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.container {
    padding: 20px 10%;
}
header {
    text-align: center;
    padding-bottom: 20px;
}
h1.light {
    color: var(--Very-Dark-Blue);
    font-weight:200;
}
h1.dark {
    color: var(--Very-Dark-Blue);
    padding-bottom: 10px;
}
header p.desc {
    color: var(--Grayish-Blue);
    font-size: 10px;
}

.box {
    background-color: white;
    box-shadow: 0px 15px 50px -30px black;
    margin: 20px auto;
    width: 70%;
    height: 175px;
    border-top: 3px solid var(--Red);
    padding: 20px;
    color: var(--Grayish-Blue);
    position: relative;
}
.box.b2 {
    border-top-color: var(--Cyan);
}
.box.b3 {
    border-top-color: var(--Blue);
}
.box.b4 {
    border-top-color: var(--Orange);
}
.box h2 {
    color: var(--Very-Dark-Blue);
    margin-bottom: 10px;
}
.box svg {
    position: absolute;
    right: 30px;
    bottom: 20px;
}
p.attribution {
    font-size: 15px;
    margin: 10% auto 20px;
    color: #a3adc9;
    text-align: center;
}
p.attribution a {
    font-size: 15px;
    text-decoration: none;
    color: #4c4e61;
}

@media screen and (min-width: 768px) {
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .box {
        width: 275px;
        margin: 10px 10px;
    }
    header{
        margin: 0 auto 25px;
        max-width: 75%;
    }
    header > *{
        font-size: 20px;
    }
    header p.desc {
        font-size: 15px;
    }    
}

@media screen and (min-width: 1280px) {
    .box.b1{
        transform: translateY(135px);
    }
    .box.b3{
         transform: translateY(135px) 
    }
    header{
        max-width: 75%;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        padding: 20px 15%;
    }
  }   

@media screen and (min-width: 1900px) {
    .container {
        padding: 20px 20%;
    }
  }   